@import "tailwindcss";


#top {
    /* Image path */
    background-image: url('assets/web-dev.png');

    /* Cover full screen */
    background-size: cover;

    /* Center the image */
    background-position: center;

    /* Image does not repeat */
    background-repeat: no-repeat;

    /* Make it fixed while scrolling */
    background-attachment: fixed;

    /* Optional: smooth fallback color */
    background-color: #000; 
    

    color: #fff; 
}


html {
  scroll-behavior: smooth;
}




#myName{
    background-color: rgba(255, 255, 255, 0.75);
}


#mern{
  background-color: #0a067a;
}

#header{
  background-color: rgba(200, 200, 200, 0.09);
}